.home {
  padding: 20px;

  &__logo {
    height: 100px;
    background-image: url('../../img/1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    height: 500px;
    width: 500px;
    background-image: url('../../img/2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &-2 {
      background-image: url('../../img/3.png');
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    background-color: #8FC748;
    font-size: 40px;
    padding: 10px 50px;
    width: 100%;
    border-radius: 20px;
    margin: 10px 0;
    text-align: center;
    color: white;
    transition-duration: .5s;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0 0 30px rgba($color: #0beb1d, $alpha: 1);
    }
  }
}

@media screen and (max-width: 500px) {
  .home {

    &__img {
      display: none;
    }

    &__container {
      justify-content: center;
      margin-top: 50px;
    }
  }
}