body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00A5BE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

td, tr {
  padding: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

@media screen and (max-width: 400px) {
  td, tr {
    padding: 5px 2px;
  }
}